@model TaskManager.Models.LoginModel

@{
    ViewBag.Title = "Login";
}



<html>
<head>
    <title>TODO supply a title</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


    <style type="text/css">
        body {
            background: url(/Images/3.jpg);
            background-size: cover;
            /*background-color: white;*/
        }

        .login-form {
            background-color: #363636;
            border-radius: 5px;
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            margin: 150px auto;
            width: 30%;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            -webkit-box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.3);
            /*/*box*/ /*-shadow: 0px 30px 70px 50px rgba(0, 0, 0, 0.3);*/
        }

            .login-form h1 {
                background-color: #292829;
                border-radius: 5px 5px 0px 0px;
                -moz-border-radius: 5px 5px 0px 0px;
                -webkit-border-radius: 5px 5px 0px 0px;
                /* color: #fff; */
                padding: 20px;
                text-align: center;
                /* text-transform: uppercase; */
                font-family: 'Open Sans', sans-serif;
                font-size: 20px;
            }

        h1 {
            display: block;
            font-size: 2em;
            -webkit-margin-before: 0.67em;
            -webkit-margin-after: 0.67em;
            -webkit-margin-start: 0px;
            -webkit-margin-end: 0px;
            font-weight: bold;
            color: white;
        }

        .login-form fieldset {
            border: none;
            padding: 20px;
            position: relative;
        }

        .form-signin-heading {
            text-align: center;
        }

        .head {
            width: 100%;
            border-bottom: 1px solid rgba(0,0,2,0.1); /* Параметры границы */
        }
    </style>

</head>
<body>

    <div class="login-form" style="width: 600px">

        <h1 style="font-size: 30px;" class="display-3">Welcome</h1>
        <h3 class="form-signin-heading" style="color:whitesmoke;"> Please, log in:</h3>


        <fieldset style="background-color: #363636;">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true)
                    <div>
                        @Html.TextBoxFor(model => model.Login, new { @class = "form-control", placeholder = "Login" })


                    </div>
                    <div>
                        <br>
                        @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
                    </div>
                    <br>

                    <p>
                        <input class="btn btn-lg btn-primary btn-block" type="submit" name="Signin" value="Sign in">
                    </p>

                </div>
            }

        </fieldset>
    </div>

</body>
</html>
